# DB_HOST=127.0.0.1
# DB_PORT=3306
# DB_USER=u875196402_venzo
# DB_PASS=L01amT+Pqoh~
# DB_NAME=u875196402_venzo

# JWT_SECRET=85cef6a48331739adab1e55a71d64992f582b1543169dd13b8191653cf150a323a6f8363aa82d9492b18c5435d3e0598274491d1d9c76cc2ece9afbd8e80663e
# JWT_EXPIRES=24h

# PORT=3000
# FRONTEND_URL=https://venzo.infinicord.com
# CORS_ORIGINS=https://venzo.infinicord.com

# UPLOAD_DIR=uploads


DB_HOST=localhost
DB_PORT=3306
DB_USER=root
DB_PASS=
DB_NAME=venzo_pos

JWT_SECRET=venzo_secret_key_cambiar_en_produccion
JWT_EXPIRES=24h

PORT=3000
FRONTEND_URL=http://localhost:5173

UPLOAD_DIR=uploads