DB_HOST=localhost
DB_PORT=3306
DB_USER=root
DB_PASS=
DB_NAME=venzo_pos

JWT_SECRET=venzo_secret_key_cambiar_en_produccion
JWT_EXPIRES=24h

PORT=3000
FRONTEND_URL=http://localhost:5173

UPLOAD_DIR=uploads
